.App2{
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.281)) ,url(../src/images/img1.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat; */

 
 
}
/* button{
  padding: 0;
  margin-top: 20px;
} */








