.Home-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.281)) ,url(../src/images/soldiers-3.jpg);
    height: 100vh ;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
   
   
 }
 .Carousel{
     text-align: center;
     top:30%;
     position: relative;
     left: 3%;
     width: 45%;
     border: solid;
     height: 50%;
 }
 .d-block {
     position: inherit;
     left: 18%;
   
 }
 .carusel-images{
     opacity: 0.5;
 }
 .carusel-images:hover{
     opacity: 1;
 }

 .carusel-images{

    height: 350px;
    width: 500px;
 }
*{
    padding: 0;
    margin: 0;
}


.Sign-up-form{
    background: inherit;
    width: 35%; /* =cw */
    height: 50%; /* =ch */
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45%; /* =ct */
    left: 30%; /* =cl */
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: relative;
    text-align: center;
 }


 .Wrapper-Sign-up-form-content{
    background: inherit;
    height: 100vh; 
    width: 166.667%;
    position: absolute;
    left:45%;
    top: 55%;
    transform: translate(
      -30%,
      -30%
    );
    filter: blur(15px);
    z-index: -1;
}