.Home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.281)),
    url(../src/images/soldiers-21.jpg);
  height: 70.8vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; 
  position: relative;
  /* min-height: calc(100vh - 1rem); */
  
}


* {
  padding: 0;
  margin: 0;
}

.Sign-up-form {
  background: inherit;
  width: 25%; /* =cw */
  height: 55%; /* =ch */
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 35%; /* =ct */
  left: 15%; /* =cl */
  transform: translate(-50%, -50%);
  overflow: hidden;
  position: relative;
  text-align: center;
}

.Wrapper-Sign-up-form-content {
  background: inherit;
  height: 100vh;
  width: 166.5%;
  position: absolute;
  left: 30%;
  top: 45%;
  transform: translate(-30%, -30%);
  filter: blur(25px);
  z-index: -1;
}

.Family-Home-page{
  display: flex;
  position:absolute;
  top: 10%;
  width: 100%;
}
.Soldiers-Home-page{
  display: flex;
  position:absolute;
  top: 35%;
  width: 100%;


}
.LoginButton {
  position: absolute;
  right: 0%;
  height: 10% !important;
  width: 65% !important;
}

.SignUpFamilyButoonHomePage {
  display: block;
  z-index: 5;
  position: relative;
  top: 40%;
  left: 25%;
  height: 65%;
  padding: 10px;
  width: 160%;
  border-radius: 5px ;
  border: none;


 
}
.SignUpFamilyButoonHomePage::before {
  display: inline-block;
  transform-origin: left;
  transform: scaleX(0);
  background-color: rgb(33, 99, 64);
  transition: all 0.8s;
  border: none;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.SignUpFamilyButoonHomePage:hover::before {
  transform: scale(1);
  border-radius: 5px;
  color: aliceblue;
  border: none;

}





.SignUpSoldiersButoonHomePage{
    display: block;
    z-index: 5;
    position: relative;
    top: 20%;
    left: 25%;
    width: 150%;
    height: 65%;
    padding: 10px;
  background-color:rgb(52, 58, 64) ;
  border-radius: 5px;
    
}

.SignUpSoldiersButoonHomePage::before{

    display: inline-block;
  transform-origin: right;
  transform: scaleX(0);
  background-color: rgb(33, 99, 64);
  
  transition: all 0.8s;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.SignUpSoldiersButoonHomePage:hover::before {
    transform: scale(1);
    border-radius: 5px;
 
  }
  

  .page-header{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10%;
    color: white;
  transform: translate(-50%, -50%);

  }

  .Login-Home-Page{

    position: absolute;
    top: 45%;
    width: 100%;
  }