*{
    padding: 0;
    margin: 0;
}
.warpFprPOsition{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../src/images/קצינים.jpg);
    background-size: cover;
    opacity: 0.7;
}
.contentSoldiers{
    background: inherit;
   width: 50%; /* =cw */
   height: 80%; /* =ch */
   border-radius: 8px;
   box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 52%; /* =ct */
   left: 50%; /* =cl */
   transform: translate(-50%, -50%);
   overflow: hidden;
}
.blurSoldiers{
    background: inherit;
    height: 100vh; /* h */
    width: 166.667%;
    position: absolute;
    left:-25%;
    top: 25%;
    right: 10%;
    transform: translate(
      -10%,
      -30%
    ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
    filter: blur(15px);
    z-index: -1;
}
.warpInputs{
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* width: 1%; */
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: gray; */
    /* opacity: 0.7; */
    width: 200px;
    /* border: solid; */
}
.inputs{
    border-radius:5px;
    text-align: center;
    font-weight: bold;
}
/* inputs full name */
.personal-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    /* border: solid; */
}
.personal-details-item{
    height: 50%;
    width: 32.5%;
}
/*inputs military details */
.military{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    /* border: solid; */
}
.military-item{
    height: 50%;
    width: 40%;
   
}
/* contact details */
.contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    /* border: solid; */
}
.contact-details-item{
    height: 50%;
    width: 40%;
}
.passwords{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    /* border: solid; */
}
.password-item{
    height: 50%;
    width: 40%;
}
.warpAddress{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    /* border: solid; */
}
.Address{
    height: 50%;
    width: 100%;
}

.warpButton{
    width: 100%;
    text-align: center;
    /* border: solid; */
}
#button{
    width: 50%;
    border-radius: 5px;
    font-weight: bold;
}
.facebook{
    background-color: blue;
    color: white;
}
.gmail{
    background-color: red;
    color: white;
}
@media screen and (min-width: 1000px){
    .warpInputs{
        width: 90%;
        height: 100%;
        top: 48%
    }
}