
.warpFormEdit{
    position: relative;
    min-height: calc(100vh - 1rem);
}
.formEdit{
    /* border: solid; */
    position: absolute;
    left: 25%;
    top: 3%;
    width: 50%;
  
}
.warpEmail{
    width: 98.4%;
    margin-left: 0.8%;
}
.warpCheckBox{
    /* border: solid; */
    width: 26%;
    height: 10%;
    margin:6% 0 0 7%;
    
}
#gridCheck{
  
    height: 3%;
    width: 9%;
    margin-left:20%
}
#deleteButton{
    position: absolute;
    bottom: 0.7%;
    right: 25.3%;
    width:20%;
}
#editButton{
    width:42%;
    margin-left: 0.3%;
}