
.titel-family-page-wraper{
   text-align: center;
}

.Family-Page-Wrapper {
  background: url(../images/soldiers-5.jpg);
  height: 100vh; /* =h */
  background-size: cover;
}

.Family-Page-Form {
  background: inherit;
  width:50%; /* =cw */
  height: 70%; /* =ch */
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%; /* =ct */
  left: 40%; /* =cl */
  transform: translate(-50%, -50%);
  overflow: hidden;
}



 .Family-Page-blur-background {
  background: inherit;
  height: 100vh; /* h */
  width: 166.667%; /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(
    -10%,
    -30%
  ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  filter: blur(15px);
  z-index: -1;
}

.Family-Page-button{
    position: absolute;
    top: 75%;
    left: 7.5%;
    width: 50%;
    margin: 0;
    height: 12%;

}
.Date-is-NotEnter{

    height: 170px;
    width: 450px;
    background-color: rgba(238, 119, 119, 0.925);
}
.Date-is-NotEnter-msg{
    color: red;
}

.Family-image{
   height:200px;
   width:30%;
   border-radius: 100%;


}
.FamilyPage-input{

  width: 50%;
  padding: 10px;
  margin:5px;
}
.alert{
  height: 90px;
}