
.Family-Page-button{
 position: absolute;
  height:9%;
  width: 55%;
  top:75%;
}

.Family-Page-Wrapper {
  background:linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.596)), url(../images/soldiers=24.jpg);
  height:78.7vh; /* =h */
  background-size: cover;
  width: 100%;
  
}
.Family-Page-Inputs-Wrapper{
position: absolute;
  display: flex;
  width: 50%;
  color: aliceblue;
  top: 10%;
  left: 25%;
  flex-direction: column;
 border: solid;
 border-radius: 10px;
   align-items: center;
   height: 65%;
 }

.Family-Page-Titel{

  text-transform: uppercase;
}
.Date-is-NotEnter{

    height: 170px;
    width: 450px;
    background-color: rgba(238, 119, 119, 0.925);
}
.Date-is-NotEnter-msg{
    color: red;
}

.Family-image{
   height:200px;
   width:30%;
   border-radius: 50%;
 
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.425), 0 6px 20px 0 rgba(0, 0, 0, 0.466);
   transition: 0.5s;
}
.Family-image:hover{
  transform: scale(1.1);
}
.FamilyPage-input{
  width: 45%;
  margin:1.5%;
  height: 7%;
}
.alert{
  height: 90px;
}


/* @media screen and (min-width: 1000px){
    .resultFamiles{
        width: 100%;
        justify-content: space-evenly;
    }
   
} */