
#cards{
    width: 23%;
    display: inline-block;
    margin: 1% 5%;
}
.buttonSendReqHosting{
    background-color: green;
}
.card-img-top{
    height: 180px !important;
    width: 100% !important;
    
}
.NoRelevantFamiliesWereFoundAlert{
    margin-top: 1% ;
}
@media screen and (min-width: 1500px){
    #cards{
    width: 14.6%;
    display: inline-block;
    }
}
.buttonSendReqHosting{
    border-radius: 5px;  
      left: 0.1% !important;
    background-color: rgb(52, 58, 64) !important;

}