
#cards{
    width: 23%;
    display: inline-block;
    margin: 1% 1%;
}
.buttonSendReqHosting{
    background-color: green;
}
.card-img-top{
    height: 180px !important;
    width: 100% !important;
    
}
.x{
    margin-top: 1% ;
}
@media screen and (min-width: 1500px){
    #cards{
    width: 14.6%;
    display: inline-block;
    }
}