/* *{
    margin: 0;
    padding: 0; 
       box-sizing: border-box;
}
body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    color: white;
       background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-image: url(../src/images/img1.jpg);

  }
   */
/*   
  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  } */
/*   
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  } */
  
  /* .col-75 {
    -ms-flex: 75%;  */
    /* flex: 75%; */
  /* } */
/* input[type=text],input[type=email],input[type=number],input[type=password],button {
    width: 50%;
    padding: 1.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

  /* .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: solid black; */
  /* background: rgba(0, 0, 0, 0.295);
  background-image: url(../src/images/img1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  



  /* border-radius: 10px;
  
  }
  .col-25,.col-50,.col-75 {
  padding: 0 16px;
} */
/* .bg-image::before{ */
   /* content: ''; */
 
   /* background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover; */
   /* filter: blur(8px);
  position: fixed;


 } */
 button{
   background: red;
   border: none;
   width: 100%;
   height: 9%;
   margin-top: 23px;
 }


 body,
 .blurred-bg-container .content h1 {
   margin: 0;
 }
 
 .blurred-bg-container {
   background: url(../images/חיילים.jpg);
   height: 100vh; /* =h */
   background-size: cover;
 }
 
 .content {
   background: inherit;
   width: 35%; /* =cw */
   height: 60%; /* =ch */
   border-radius: 8px;
   box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 55%; /* =ct */
   left: 50%; /* =cl */
   transform: translate(-50%, -50%);
   overflow: hidden;
 }
 

 
  .blur {
   background: inherit;
   height: 100vh; /* h */
   width: 166.667%;
   position: absolute;
   left:-25%;
   top: 25%;
   right: 10%;
   transform: translate(
     -10%,
     -30%
   ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
   filter: blur(15px);
   z-index: -1;
 }
 input{

  border-radius: 5px;
  border: none;
  width: 100%;
 }


 .Sign-up-FamilyPage{
   position: absolute;
   top: 13.5%;
   left: 45%;

 }
 .facebookwrpper{
  /* background-color: blue; */
  position: absolute;
  left: 5%;
  color: aliceblue;
  width: 90%;
  height: 100%;
  top: 65%;
  text-align: center;
 }
.facebookbutton{
  border-radius: 5px;
  background: rgb(66, 103, 178);
  color: aliceblue;
}
.gmailwrapper{
position:absolute;
top: 80%;
color: aliceblue;
width: 90%;
height: 100%;
left: 5%;

}
 .gmailbutton{
  color: aliceblue;
  border-radius: 5px;
  text-align: center;

 }

 /* .submitbutoon{
  height: 20%;
  border-radius: 5px;
 } */


 .submitbutoon {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  height: 20%;
  border-radius: 5px;
  background-color: rgb(102, 161, 130);
}
.submitbutoon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.submitbutoon:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.submitbutoon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.submitbutoon:hover::after {
  opacity: 1;
  transform: scale(1,1);
}



.text {
  padding: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
  height: 100%;
  box-sizing: border-box; /* so that padding is included in height */
  border: solid 1px darkorange;
  height: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;


  
}

.left-side-form{
  border:solid;
  height: 70%;
  /* flex: 50%; */
  width: 45%;

 

}

.right-side-form{
  border:solid 1px red;
  height: 70%;
  /* flex: 50%; */
  width: 45%;

}