*{
    padding: 0;
    margin: 0;
}
.warpAllSoldierPage{
    height: 84vh;
}
.backSoliderPage{
    background-image: url(../images/soldiers-1.jpeg);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top;
}
.soldierPageSearch{
    margin-left: 24%;
    width: 50%;
    /* border: solid; */
}
.resultFamiles{
    width: 100%;
    /* border:1px solid blue; */
    
}
.footer1{
    top:110%
}
/* @media screen and (min-width: 1000px){
    .resultFamiles{
        width: 100%;
        justify-content: space-evenly;
    }
   
} */