.Delete-account {
  position: absolute;
  top: 51% !important;
  height:4%;
  width: 25%;
  background-color: rgba(143, 1, 1, 0.979);
  right:25%;
}
.EditButoon {
  position: absolute;
  top: 56%;
  right:  53% !important;
  width: 47%;
  height: 5%;
}
.warpFormEdit-family {
  min-height: calc(82.1vh - 1rem);
}
.formEdit-Family {
  position: absolute;
  left: 25%;
  top:15%;
  width: 50%;
  height: 80%;
}



@media screen and (min-width: 1000px){
   
  .warpFormEdit-family {
    min-height: calc(85vh - 1rem);


  }
  .EditButoon{
  top:55.9%;

  }
  .Delete-account{
  top: 50%;

  }
 
}